<div class="card-group my-5 gap-5">
  <div class="card">
    <%= image_tag 'bg-header.jpg', class:'card-img-top', alt:"Iguana"%>
    <div class="card-body">
      <h5 class="card-title">Iguana Page</h5>
      <p class="card-text">Landing page para Proyecto Iguana, realizado con HTML, CSS, Boostrap</p>
      <%= link_to 'Ver mas', "", class: "boton_caro" %>     </div>
  </div>
  <div class="card">
  <%= image_tag '2.png', class:'card-img-top', alt:"Iguana"%>
  <div class="card-body">
      <h5 class="card-title">Proyecto Educativo "Colegio Mercedes Marin del Solar</h5>
      <p class="card-text"> Proyecto Editorial realizado en In design, utilizando  master pages, sistema de grillas, configuracion de imprenta.</p>
      <%= link_to 'Ver mas', "", class: "boton_caro" %>  
      </div>
  </div>
  <div class="card">
  <%= image_tag '8.png', class:'card-img-top', alt:"Iguana"%>    <div class="card-body">
      <h5 class="card-title">Afiche Conversario "Educacion estetica para la interculturalidad"</h5>
      <p class="card-text">Afiche Conversario "Educacion estetica para la interculturalidad", realizado para el cierrre del proyecto mochila de historias<br>
      Afiche realizado en Adobe Photoshop e Illustrator</p>
      <%= link_to 'Ver mas', "", class: "boton_caro" %> 
                </div>
  </div>
</div>